<!-- 編集確認modalコンテンツ -->
<div id="remodal" class="remodal modal_common" data-remodal-id="edit03-1"
  data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text">
    <p>
      <%= t('view.messages.master.update_confirmation') %>
    </p>
  </div>
  <%= form_tag tasks_path(0), method: :put, data: { method: :update }, remote: true do %>
  <div class="modal_cancel">
    <button type="button" class="btn_white btn_big float_l" data-remodal-action="cancel">
      <%= t('view.messages.cancel') %>
    </button>
    <button type="submit" id="modal-open12" class="btn_blue btn_big float_r">
      <%= t('view.buttons.update') %>
    </button>
  </div>
  <% end %>
</div>
<!-- /編集確認modalコンテンツ -->

<!-- 編集完了modalコンテンツ -->
<div id="remodal" class="remodal modal_common" data-remodal-id="edit03-3"
  data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text">
    <p>
      <%= t('view.messages.master.update_completed') %>
    </p>
  </div>
  <div class="modal_cancel">
    <%= button_tag t('view.buttons.close'), type: "button", class: "btn_white btn_big", onclick: "location.reload(true)", data: {"turbolinks" => false} %>
  </div>
</div>
<!-- /編集完了modalコンテンツ -->

<%
=begin%>
 <!-- CSVファイルアップロードモーダル -->
<div id="remodal" class="remodal place_modal_box" data-remodal-id="upload01" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <h1 class="title_quo">csvファイルを選択してください</h1>
  <div class="basic_input-box">
    <dl class="mb_15">
      <dt>
        <p>csvファイル</p><span class="required">*</span>
      </dt>
      <dd>
        <fieldset>
          <label>
            <div class="all_file" style="padding-left: 0">
              <div class="image_file-selection">
                <label class="btn_file" for="file_csv">選択
                  <%= file_field_tag :csv, id: 'file_csv', accept: '.csv' %>
                </label>
                <span id="csv_name" class="select">選択されていません</span>
              </div>
            </div>
          </label>
        </fieldset>
      </dd>
    </dl>
    <%= form_with(url: csv_load_admin_places_path, id: :upload_modal_form, method: :post, remote: true) do |f| %>
      <dl class="mb_15">
        <dt>
          <p>会社</p><span class="required">*</span>
        </dt>
        <dd>
          <fieldset class="form_select-block wid_300">
            <div>
              <%= f.select :company_id,
                  options_for_select(@company_options, selected: @company.id),
                  { prompt: '選択してください' },
                  class: "form_select suggest form_input-300", id: 'company_id', name: 'company_id' %>
            </div>
          </fieldset>
        </dd>
      </dl>
    </div>
    <div class="error_xs">
    </div>

    <%= f.hidden_field :csv_file_path %>
    <%= f.hidden_field :csv_character_code %>
    <button type="button" class="btn_white btn_big m_r20" data-remodal-action="cancel">キャンセル</button>
    <%= f.button 'アップロード', id: :upload_button, class: 'btn_blue btn_big m_l20', name: "button" %>
    <% end %>
</div>
<!-- /CSVファイルアップロードモーダル -->

<!-- CSVファイルアップロード 登録成功 モーダル -->
<div id="remodal" class="remodal modal_common share change" data-remodal-id="upload02" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text success">
    <p>一括登録が成功しました。</p>
    <p class="select">登録データ総数　件</p>
  </div>
  <div class="modal_cancel">
    <button type="button" id="csv_success_close_button" class="btn_white btn_big" data-remodal-action="cancel">閉じる</button>
  </div>
</div>
<!-- /CSVファイルアップロード 登録成功 モーダル -->

<!-- CSVファイルアップロード 登録失敗 モーダル -->
<div id="remodal" class="remodal modal_common share change" data-remodal-id="upload03" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text">
    <p class="title_text">一括登録に失敗しました。</p>
    <div class="upload-failure">
      <div class="failure-title">
        <p>データ総数</p>
        <p>エラー件数</p>
      </div>
      <div class="failure-number">
        <p> 件</p>
        <p><span></span> 件</p>
      </div>
    </div>
    <p class="error-detail-title">エラー詳細</p>
    <div class="error-list-wrap">
    </div>
  </div>
  <!-- /recall-add_modal -->
  <div class="modal_cancel">
    <button type="button" id="upload_cancel" class="btn_white btn_big float_l">キャンセル</button>
    <button type="button" id="reupload_modal_open_button" class="btn_blue btn_big float_r" data-remodal-action="cancel">再アップロード</button>
  </div>
</div>
<!-- /CSVファイルアップロード 登録失敗 モーダル --> 
<%
=end%>

<!-- 確認modalコンテンツ -->
<div id="remodal" class="remodal modal_common" data-remodal-id="modal01" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text form_day-block">
    <p>
      <%= t('view.messages.master.create_confirmation') %>
    </p>
  </div>
  <%= form_tag tasks_path, remote: true, action: :create, data: { method: :create } do %>
    <div class="modal_cancel">
      <button type="button" class="btn_white btn_big float_l" data-remodal-action="cancel">
        <%= t('view.messages.cancel') %>
      </button>
      <button type="submit" id="modal-open06" class="btn_blue btn_big float_r">
        <%= t('view.messages.do_regist') %>
      </button>
    </div>
  <% end %>
</div>
<!-- /確認modalコンテンツ -->

<!-- 確認完了modalコンテンツ -->
<div id="remodal" class="remodal modal_common" data-remodal-id="modal02" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text">
    <p>
      <%= t('view.messages.master.create_completed') %>
    </p>
  </div>
  <div class="modal_cancel">
    <%= button_tag t('view.buttons.close'), type: "button", class: "btn_white btn_big", onclick: "location.reload(true)", data: {"turbolinks" => false} %>
  </div>
</div>
<!-- /確認完了modalコンテンツ -->

<!-- 削除確認modalコンテンツ -->
<div id="remodal" class="remodal modal_common" data-remodal-id="delete03-1" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text">
    <p>
      <%= t('view.messages.master.delete_confirmation') %>
    </p>
  </div>
  <%= form_tag task_path(0), method: :delete, data: { method: :delete }, remote: true do %>
    <div class="modal_cancel">
      <%= hidden_field_tag :updated_at %>
      <button type="button" class="btn_white btn_big float_l" data-remodal-action="cancel">
        <%= t('view.buttons.cancel') %>
      </button>
      <button type="submit" id="modal-open" class="btn_blue btn_big float_r">
        <%= t('view.buttons.delete') %>
      </button>
    </div>
  <% end %>
</div>
<!-- /削除確認modalコンテンツ -->

<!-- 削除完了modalコンテンツ -->
<div id="remodal" class="remodal modal_common" data-remodal-id="delete03-2" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <div class="modal_text">
    <p>
      <%= t('view.messages.master.delete_completed') %>
    </p>
  </div>
  <div class="modal_cancel">
    <%= button_tag t('view.buttons.close'), type: "button", class: "btn_white btn_big", onclick: "location.reload(true)", data: {"turbolinks" => false} %>
  </div>
</div>
<!-- /削除完了modalコンテンツ -->

<%
=begin%>
 <%= render :partial => "remodal_error" %> 
<%
=end%>
