<% if tasks.present? %>
  <div class="address_list-title">
    <h3 class="middle_gray_title">タスク一覧</h3>
  </div>
  <!-- address_list-title -->
  <div class="address_list">
    <ul id="sortListArea">
      <% tasks.each do |task| %>
        <li data-model-name="<%= task.class.name.underscore %>"
          data-update-url="<%= tasks_path(task) %>">
          <div class="accordion_list address_parts">
            <span class="list_drag_icon"><i class="icon_drag_icon"></i></span>
            <ul class="list_outline-place">
              <li class="list_info-shop"><p><%= task.task_name %></p></li>
            </ul>
            <span class="list_info-data-text"><%= "更新日時：#{formated_date(task.updated_at)}" %></span>
            <% if task.is_not_old? %>
              <%= form_tag task_path(task.id), method: :delete, action: :destroy, remote: true, id: :form_destroy, data: { action: :remodal_destroy } do %>
                <%= button_tag '削除する', type: :submit, id: :destroy_confirm_btn, class: 'btn_blue btn_big float_r', data: { method: :remodal_destroy_confirm } %>
              <% end %>
            <% end %>

            <span>
              <%= content_tag :i, nil, id: 'modal-open', class: 'icon_delete tooltip-n', title: "タスクを削除", data: { method: :delete_confirm }, delete_id: task.id, updated_at: task.updated_at %>
            </span>
            <span>
              <%= content_tag :i, nil, class: 'icon_edit js-edit_open tooltip-n', data: { 'remodal-target': "js-edit_address#{task.id}" }, title: "編集・閲覧する" %>
            </span>
          </div>
          <!-- / accordion_list -->
          <div class="" id="js-edit_address<%= task.id %>">
            <%= form_with model: task, remote: true, data: { method: :update } do |f| %>
              <div class="division_edit-area input-box_only">
                <div class="basic_input-box">
                  <%= f.hidden_field :user_id, value: task.user_id %>
                  <dl class="mb_15">
                    <dt><p>タスク名</p><span class="required">*</span></dt>
                    <dd>
                      <div class="form_colume">
                        <%= f.text_field :task_name, placeholder: "例：勉強", class: %i(form_input) %>
                      </div>
                    </dd>
                  </dl>
                </div>
                <!-- basic_input-box -->
              </div>
              <!-- division_edit-area -->
              <div class="" data-method="update_error_message"></div>
              <div class="btn_box">
                <% if task.is_not_old? %>
                  <%= f.button t('view.messages.do_edit'), id: :'modal-open', class: %i(btn_blue btn_big) %>
                <% end %>
              </div>
            <% end %>
          </div>
          <!-- js-open_editarea -->
        </li>
      <% end %>
    </ul>
  </div>
  <!-- / address_list -->
<% end %>
